<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

 

<suite name = "Selenium_Redgrocer">

	<test name="Testing TestNG">
		<classes>
			<class name ="testcase.TC002_Login"/>
			<class name ="testcase.TC003_HomePage"/>
			<class name ="testcase.TC004_CompleteOrder"/>
			
		</classes>
	</test>
</suite>